{% extends 'admin/master.html' %}
{% block body %}
<div class="container mt-5">
    <h1 class="mb-4"><i class="fas fa-crown"></i> Dashboard</h1>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text display-6">{{ usuarios_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text display-6">{{ productos_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Categorías</h5>
                    <p class="card-text display-6">{{ categorias_count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 